﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/kendo-ui/styles/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/node_modules/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="~/node_modules/codemirror/theme/material.css" />
    <link rel="stylesheet" href="~/lib/w2ui/w2ui-1.5.rc1.min.css" />
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="~/css/responsiveness.css" />


    <script src="~/node_modules/requirejs/require.js"></script>
    <script src="~/js/init.js"></script>
</head>
<body>
    <header>
        <nav class="navbar header">
            <div class="header-column">
                <div class="header-content-holder">
                    <i class="fas fa-th header-icon"></i>
                    <div class="header-title">
                        Product Designer
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="mainContainer">
            <div class="side-menu">
                <div class="list-container">
                    <ul class="list-group list-group-flush">
                        <li id="toggle-sidebar" class="list-group-item position-list-item">
                            <a class="position-anchors-s-menu"><i class="fas fa-th"></i></a>
                        </li>
                        <li id="base-products-w2ui" class="list-group-item position-list-item">
                            <a class="position-anchors-s-menu" href="@Url.Action("BaseProducts", "BaseProduct")"><i class="icon-layout fas fa-table"></i><span class="list-group-item-text">Base Products</span></a>
                        </li>
                        <li id="packages" class="list-group-item position-list-item">
                            <a class="position-anchors-s-menu" href="@Url.Action("Packages", "Package")"><i class="icon-layout fas fa-bars"></i><span class="list-group-item-text">Packages</span></a>
                        </li>
                        <li id="pricing" class="list-group-item position-list-item">
                            <a class="position-anchors-s-menu"><i class="icon-layout fas fa-bars"></i><span class="list-group-item-text">Pricing</span></a>
                        </li>
                        <li id="configuration" data-toggle="collapse" data-target="#collapseConfiguration" aria-expanded="true" aria-controls="collapseConfiguration" class="list-group-item position-list-item">
                            <a class="position-anchors-s-menu"><i class="icon-layout fas fa-bars"></i><span class="list-group-item-text">Configuration<i class="icon-layout-end fas fa-chevron-down" id="toggleMenuArrow"></i></span></a>
                        </li>
                        <li id="collapseConfiguration" class="configuration-holder collapse" aria-labelledby="headingOne">
                            <a id="policies" class="list-group-item position-list-item position-anchors-s-menu"><span class="list-group-item-text">Policies</span></a>
                            <a id="features" class="list-group-item position-list-item position-anchors-s-menu"><span class="list-group-item-text">Features</span></a>
                            <a id="fees" class="list-group-item position-list-item position-anchors-s-menu"><span class="list-group-item-text">Fees</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-container">
                @RenderBody()
            </div>
            @RenderSection("modals", required: false)
            <div class="plugin-container-extra"></div>
            <div class="plugin-container-sureModal"></div>
        </div>
    </main>
    <footer>
        <script type="text/html" id="SideModal-template">
            <div data-bind="css: {internalScrollbar: internalScrollbar}, attr: { 'id': modalId }" class="modal right fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" data-bind="text: modalTitle"></h5>
                            <!-- ko if: deleteButton -->
                            <button class="deleteButtonEdit" style="color:#178D8D; background-color: inherit; border: 0;">Delete</button>
                            <!-- /ko -->
                        </div>
                        <div class="modal-body">
                            <div class="partialView-content">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn button btn-cancel destroyModal">Close</button>
                            <!-- ko if: displayExtraButton -->
                            <button type="button" class="btn button primary-button createAndNew" data-bind="click: additionalButtonHandler">Save & Create New</button>
                            <!-- /ko -->
                            <button type="button" class="btn button primary-button submitModal" data-bind="text: mainButtonText, enable: isMainButtonEnabled, click: mainButtonHandler"></button>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/html" id="SureModal-template">
            <div class="modal fade show" id="sureModal" tabindex="-1" role="dialog" aria-modal="true" style="display:block;">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content container-fluid">
                        <div class="modal-body row">You have unsaved changes. Are you sure you want to close it?</div>
                        <div class="modal-footer row">
                            <button id="noBtn" type="button" class="btn button btn-cancel col-12 col-md-3" data-dismiss="modal">No</button>
                            <button id="yesBtn" type="button" class="btn button primary-button col-12 col-md-3">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/html" id="Term-template">
            <div class="col-6 modified-column" data-bind="attr: {'id': firstColumnId }">
                <div class="form-group" data-bind="attr: {'id': firstFormGroupId }">
                    <input class="form-control term-display" data-bind="value: inputVal, attr: {'id': inputId }">
                </div>
            </div>
            <div class="col-6 modified-column" data-bind="attr: {'id': secondColumnId }">
                <div class="form-group" data-bind="attr: {'id': secondFormGroupId}">
                    <select class="form-control term-display" data-bind="value: selectVal, attr: {'id': selectId}">
                        <option value="years">Years</option>
                        <option value="months">Months</option>
                        <option value="weeks">Weeks</option>
                        <option value="days">Days</option>
                    </select>
                </div>
            </div>
            <div data-bind="attr: {'id': deleteId}"><i class="fas fa-trash-alt trash-can"></i></div>
        </script>

        <script type="text/html" id="PageHeader-template">
            <div class="row page-container-header-row">
                <div class="col-xl-8 page-header-primary-column">
                    <!-- ko if: Create.include() || Copy.include() || GenerateSplits.include() -->
                    <div class="page-header-divider">
                        <!-- ko if: GenerateSplits.include -->
                        <button type="button" class="btn button fontAwesome-element generate-splits-button" data-bind="text: GenerateSplits.text, click: GenerateSplits.click"></button>
                        <!-- /ko -->
                        <!-- ko if: Create.include -->
                        <button type="button" class="btn button fontAwesome-element create-button" data-bind="text: Create.text, click: Create.click"></button>
                        <!-- /ko -->
                        <!-- ko if: Copy.include -->
                        <button class="btn button fontAwesome-element copy-button" data-bind="text: Copy.text, click: Copy.click" disabled></button>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- ko if: SetStatus.include() || Delete.include() || Restore.include() -->
                    <div class="page-header-divider">
                        <!-- ko if: SetStatus.include -->
                        <button class="btn button fontAwesome-element set-status-button" data-bind="text: SetStatus.text, click: SetStatus.click" disabled></button>
                        <!-- /ko -->
                        <!-- ko if: Delete.include -->
                        <button class="btn button fontAwesome-element delete-button" data-bind="text: Delete.text, click: Delete.click, disable: Delete.isDisabled"></button>
                        <!-- /ko -->
                        <!-- ko if: Restore.include -->
                        <button class="btn button fontAwesome-element restore-button" data-bind="text: Restore.text, click: Restore.click"></button>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->

                    <div>
                        <!-- ko if: Data.include -->
                        <button class="btn button fontAwesome-element data-button" data-bind="text: Data.text, click: Data.click"></button>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="col-xl-4 page-header-secondary-column">
                    <!-- ko if: Search.include -->
                    <select id="filter-select" multiple="multiple"></select>
                    <div class="fontAwesome-element search-container">
                        @Html.TextBox("search-text-box", null, new { @type = "search", data_bind = "event: { change: Search.change}", @class = "search-text-box", placeholder = "Search", autocomplete = "off" })
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </script>

        <script type="text/html" id="interval-template">
            <div class="interval-container">
                <div class="row">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6">
                                @Html.Label("Min")
                            </div>
                            <div class="col-6">
                                @Html.Label("Max")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group interval-input-group">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control intervalMin-input" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control intervalMax-input" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/html" id="loan-purposes-template">
            <div class="loan-purposes-template-container">
                <p>There are no Loan Purposes added for this product</p>
                <a class="add-loan-purposes">Add Loan Purposes</a>
            </div>
        </script>

        <script type="text/html" id="features-template">
            <div class="features-template-container">
                <p>There are no Features added for this product</p>
                <a class="add-features">Add Features</a>
            </div>
        </script>


        <script>
            require(["js/layout"], function () {

            });
        </script>
        @RenderSection("scripts", required: false)
    </footer>
</body>
</html>