﻿.side-modal > .modal-dialog > .modal-content > .modal-body .modal-information-span {
    display: block;
    color: #009BEF;
}

.modal-information-span:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    padding-right: 10px;
    color: #009BEF;
    content: "\f05a";
}

.k-grid.data-grid td.fileTypeData {
    position: relative;
    padding-left: 36px !important
}

.fileTypeData:before {
    content: "";
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 9px;
}

.xml + .fileTypeData:before {
    background-image: url('../images/xml.svg');
}
.pdf + .fileTypeData:before {
    background-image: url('../images/pdf.svg');
}
.word + .fileTypeData:before {
    background-image: url('../images/word.svg');
}
.excel + .fileTypeData:before {
    background-image: url('../images/excel.svg');
}
.json + .fileTypeData:before {
    background-image: url('../images/json-file.svg');
}

.custom-file-label,
.custom-file-label:after {
    border-radius: 0;
}

.custom-file-label:after {
    background-color: #178D8D;
    color: #ffffff;
}