﻿.product-name-row {
    padding: 30px 15px 35px 15px;
    background-color: #f8fafa;
}

.float-right-element {
    float: right;
}

.nav-content-row {
    padding: 25px 15px 0 15px;
}

.details-content-first-row {
    padding-bottom: 25px;
}

.details-text {
    display: block;
    font-weight: 600;
}

.details-link {
    color: #178D8D;
    text-decoration: none !important;
    cursor: pointer;
    max-width: 500px;
    width: auto;
}

.content {
    overflow-y: scroll;
}

@media screen and (max-width: 767px) {
    .float-right-element {
        float: none;
    }
}

.k-grid-content {
    min-height: 448px;
}

.addModal-wrapper > .add-modal > .addModal-content {
    padding: 30px 30px !important;
}

.addModal-content > .btn-group,
.addModal-content > .btn-group > .multiselect-container {
    width: 100%;
}

#rulesEditTabContainer {
    padding-left: 0;
}

#productFeatureRules {
    border: none;
    overflow-y: auto;
}

    #productFeatureRules >
    table > tbody > tr > td {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #B8C1C1;
    }

    #productFeatureRules >
    table > tbody > .k-alt {
        background-color: inherit;
    }

    #productFeatureRules >
    table > thead > tr > th {
        font-weight: 500;
        background-color: white;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #B8C1C1;
    }

#productName {
    cursor: pointer;
}

.lvr-button::after,
.loanAmount-button::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    color: #178D8D;
    content: "\f141";
    position: absolute;
    right: 0.50rem;
}

.custom-input-container {
    position: relative;
}

.lvr-input,
.loanAmount-input {
    position: relative;
    padding-right: 2.3rem;
    cursor: pointer;
}

.custom-input-container i {
    position: absolute;
    right: 0.75rem;
    top: 0.7rem;
    color: #178D8D;
}

.add-loan-purposes,
.add-features {
    display: block;
    text-align: center;
    color: #178D8D !important;
    margin: 0 6rem;
    cursor: pointer;
}

#nav-tabContent .centered-tab-pane.active {
    align-items: center;
    justify-content: center;
    height: 63vh;
    width: 165vh;
    display: flex;
}