﻿html {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    user-select: none;
}

header {
    height: 4%;
    min-height: 34px;
}

main {
    height: 96%;
}

#mainContainer {
    display: flex;
    height: 100%;
    position: relative;
}

.btn {
    box-shadow: none !important;
}

li a {
    display: block;
}

a:hover {
    text-decoration: none;
}

.header {
    background-color: #000000;
    height: 100%;
    padding: 0;
}

.side-menu {
    background-color: #F2F4F8;
    border-right: 1px solid #e2e1e1;
    min-width: 250px;
    min-height: 650px;
    width: 13%;
    height: 100%;
}

.page-container {
    z-index: 8;
    width: 87%;
    overflow-y: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input:focus, input.form-control:focus, select:focus, select.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.blurContent {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #e9e9e9;
}

#list-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #c9c9c9;
    padding-left: 5px;
}

.position-list-item {
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 0;
}

    .position-list-item:hover {
        background-color: #D5D9E0;
    }

a div#toggle-sidebar {
    height: 3rem;
}

.active-item {
    background-color: #D5D9E0;
    border-left: 4px solid #178D8D !important;
}

.icon-layout {
    margin-right: 20px;
}

#configuration {
    position: relative;
}

#policies, #features, #fees {
    padding-left: 45px;
}

.icon-layout-end {
    position: absolute;
    right: 10px;
    top: 12px;
}

.header-column {
    padding: 0;
    height: 100%;
    width: 13%;
    min-width: 250px;
    border-right: 1px solid #B8C1C1;
    color: white;
}

.header-icon {
    padding: 11px 11px 11px 11px;
    background: #178D8D;
}

.header-content-holder {
    height: 100%;
    display: flex;
}

.header-title {
    margin-left: 25px;
    font-size: 1.3rem;
    align-self: center;
}

.show-sidebar {
    border-right: 1px solid #e2e1e1 !important;
    min-width: 250px !important;
    min-height: 650px !important;
    width: 13% !important;
    height: 100% !important;
}

.hide-sidebar {
    overflow: hidden;
    min-height: 0;
    min-width: 0;
    position: absolute;
    z-index: 10;
    border: none;
    width: 38px;
}

.position-anchors-s-menu {
    padding: .75rem 0.9rem;
    color: #000000;
}

    .position-anchors-s-menu:hover {
        color: black;
    }

.CodeMirror-hints {
    z-index: 1000000000000000000 !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444242;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #444242;
    }
