﻿.myModal-wrapper {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

    .myModal-wrapper > .myModal {
        background-color: #fefefe;
        margin: 10% auto;
        border: 1px solid #888;
        width: 50%;
    }

        .myModal-wrapper > .myModal.container-fluid {
            padding: 0;
        }

        .myModal-wrapper > .myModal > .myModal-header {
            padding: 30px 15px;
            background-color: #EEEEEE;
        }

            .myModal-wrapper > .myModal > .myModal-header > .myModal-header-paragraph {
                font-weight: bold;
                margin: 0;
            }

        .myModal-wrapper > .myModal > .myModal-content {
            padding: 30px 15px;
            background-color: white;
            align-content: flex-start;
            min-height: 300px;
        }

            .myModal-wrapper > .myModal > .myModal-content > .myModal-content-data {
                padding-left: 45px;
            }

                .myModal-wrapper > .myModal > .myModal-content > .myModal-content-data > li {
                    overflow-wrap: break-word;
                }

        .myModal-wrapper > .myModal > .myModal-footer {
            justify-content: flex-end;
            background-color: white;
            padding: 30px 15px;
        }

            .myModal-wrapper > .myModal > .myModal-footer .break-line {
                margin: 30px 0;
            }

.myModal-footer .myModal-button {
    height: 100%;
    width: 100%;
}

/********New Modal CSS********/

.side-modal .modal-header {
    border-bottom: none;
}

#deleteModal .modal-footer {
    border-top: none
}

.rules-edit-dialog {
    width: 50%;
    max-width: none;
}

    .rules-edit-dialog > .modal-content > .modal-header {
        background-color: #f8f8f8;
        display: block;
        padding-bottom: 0;
    }

    .rules-edit-dialog > .modal-content > .modal-footer {
        padding-right: 0;
        margin: 1rem;
    }
