﻿@media screen and (max-width: 365px) {
    #image-placeholder {
        display: none;
    }
}

@media screen and (max-width: 1525px) {
    .modified-column {
        max-width: 47% !important;
    }
}

@media screen and (max-width: 770px) {
    .side-menu {
        overflow: hidden;
        min-height: 0;
        min-width: 0;
        position: absolute;
        z-index: 10;
        border: none;
        width: 38px;
    }

    .list-group-item-text {
        display: none;
    }

    .toggle-side-menu {
        display: block;
    }

    .page-container {
        width: 100%;
    }

    .header-title {
        display: none;
    }

    .header-column {
        width: auto !important;
        border: none !important;
    }

    .page-container-header {
        padding-left: 38px;
    }
}


@media (max-width: 575px) {
}

@media (max-width: 767px) {
    .modal-footer > :not(:last-child) {
        margin-right: 0;
    }

    .modal-footer > :not(:first-child) {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
}


@media (max-width: 1199px) {
}
