﻿/********Buttons CSS********/

.button {
    border-radius: 0;
}

.primary-button,
.dropdown-item:focus {
    background-color: #178D8D;
    color: white;
}

    .primary-button:hover:enabled {
        background-color: #136868;
        border-color: #136868;
        color: white;
    }

    .primary-button:hover:disabled {
        color: white;
    }

/******** Multiselect ********/

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #178D8D !important;
}

.dropdown-menu.pull-right {
    right: 0 !important;
    left: auto !important;
}

.dropdown-menu.show {
    width: 100%;
    transform: translate3d(0, 2.3em, 0px) !important;
    border-radius: 0;
}

.dropdown-menu.show li:not(.active) a label:hover {
    color: #178D8D;
}

.dropdown-menu a:focus {
    outline-color: #178D8D;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #178D8D;
    outline: 0;
}


.multiselect-container > li > a {
    color: #212529;
}

.multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
    padding-left: 10.5px !important;
}

/******** Navigation Tabs ********/

.nav-item.active {
    border-bottom: 2px solid #178D8D !important;
    border: 0;
    font-weight: 600;
}

.nav-link {
    color: black;
    padding-left: 0;
    padding-right: 0;
}

.nav-link:not(:first-child) {
    margin-left: 15px;
}

.nav-tabs {
    padding-left: 0;
    border-bottom: none;
    margin-bottom: 1rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-row {
    margin-left: 0;
    position: sticky;
    top: 43px;
    z-index: 101;
    background-color: white;
    align-items: flex-end;
    height: 63px;
}

.display-none {
    display: none;
}

#statusBreadCrumb {
    color: #AA1D1D;
}

.status-active {
    color: #399832 !important;
}

/******** Page Header CSS ********/

.page-container-header {
    background-color: #F2F4F8;
    min-height: 3.07rem;
    position: sticky;
    top: 0;
    z-index: 102;
}

.container-fluid > .row > div {
    height: fit-content;
    display: flex;
}

.page-container-header-row {
    padding: 4px 0;
    height: fit-content;
}

.container-fluid.page-container-header > .row > div:first-child {
    justify-content: flex-start;
}

.container-fluid.page-container-header > .row > div:last-child {
    justify-content: flex-end;
}

.container-fluid.page-container-header > .row > .page-header-primary-column .page-header-divider {
    border-right: 1px solid;
}

.page-container-header-row .page-header-secondary-column {
    display: flex;
    justify-content: flex-end;
}

.page-container-content {
    padding: 0 30px 30px 30px;
}

.fontAwesome-element:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    padding-right: 10px;
    color: #178D8D;
}

.page-container-header-row .create-button:before {
    content: "\f067";
}

.page-container-header-row .generate-splits-button:before {
    content: "\f0c9";
}

.page-container-header-row .copy-button:before {
    content: "\f0c5";
}

.page-container-header-row .set-status-button:before {
    content: "\f044";
}

.page-container-header-row .delete-button:before {
    content: "\f2ed";
}

.page-container-header-row .restore-button:before {
    content: "\f2d2";
}

.page-container-header-row .data-button:before {
    content: "\f1c0";
}

.page-container-header-row .default-button:before {
    content: "\f0c9";
}

#filter-select + .btn-group.show .dropdown-menu.show {
    min-width: 173px;
}

.page-container-header-row .search-container {
    position: relative;
}

.page-container-header-row .search-text-box {
    padding-left: 35px;
    background-color: #F2F4F8;
    border: none;
    border-left: 1px solid;
    height: 100%;
    width: 15rem;
}

    .page-container-header-row .search-text-box:focus {
        outline: none;
    }

.page-container-header-row .search-container:before {
    content: "\f002";
    left: 11px;
    top: 7px;
    position: absolute;
    cursor: pointer;
}

.page-container-header-row .page-header-dropdown .header-element:before {
    content: "\f0c9";
    padding-right: 0;
}

@media screen and (max-width: 1400px) {
    .page-header-primary-column, .page-header-secondary-column {
        display: none
    }

    .page-container-header-row .page-header-dropdown {
        display: block !important;
        float: right;
    }
}

/******** Forms related CSS ********/

select.form-multiselect,
select.form-multiselect + div.btn-group,
select.form-multiselect + div.btn-group button.multiselect,
select.form-multiselect + div.btn-group.open .multiselect-container {
    width: 100% !important;
    border-color: rgb(206, 212, 218);
}

select.form-multiselect + .btn-group .multiselect.dropdown-toggle {
    text-align: left;
}

select.form-multiselect + .btn-group .multiselect.dropdown-toggle::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    color: #178D8D;
    content: "\f107";
    position: absolute;
    right: 0.75rem;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-left: 0;
    vertical-align: 0;
}

.form-control:focus {
    border-color: #178D8D !important;
    box-shadow: 0 0 0 .2rem rgba(23,141,141,.25);
}

.form-control.capitalized {
    text-transform: capitalize;
}

.fontAwesome-col {
    display: flex;
    justify-content: center;
    padding-left: 0;
    align-items: center;
    color: green;
}

.fontAwesome-col > i {
    color: #136868;
    cursor: pointer
}

.addInterval-button:before {
    content: "\f067"
}

/******** *Modal CSS ********/

.internalScrollbar .modal-body {
    height: 750px;
    overflow-y: auto;
    padding: 0 1rem 1rem 1rem;
}

.internalScrollbar .partialView-content > nav {
    position: sticky;
    top: 0px;
    z-index: 1001;
    background-color: white;
    align-items: flex-end;
    height: 63px;
    display: flex;
}

#addLoanPurposesModal .modal-body,
#addFeaturesModal .modal-body {
    height: 350px;
}



/* SIDE MODAL CSS WAS HERE */



.modal-backdrop {
    background-color: #d7d7d7;
}

.btn-cancel {
    background-color: white;
    color: #565555;
    border: 0;
}

.form-control {
    border-radius: 0
}

.form-group > select > option[value=""] {
    display: none;
}

/******** Radio button CSS ********/

.checkbox-label {
    display: block;
}

.custom-control {
    display: inline-block;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
    background-image: url('../images/circle.svg');
}

.custom-control-input:focus ~ .custom-control-label:before {
    box-shadow: 0 0 0 0.2rem rgba(23, 141, 141, .25);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label:before {
    background-color: #178D8D;
    border-color: #178D8D;
}

.custom-control-input:checked ~ .custom-control-label:before {
    border-color: #178D8D;
    background-color: white;
}

.custom-control-label {
    margin-right: 2rem;
}

.custom-control-label:after {
    top: 0.28rem;
    left: -1.47rem;
    width: .95rem;
    height: .95rem;
}

.fa-toggle-on {
    color: #178D8D;
}
