﻿/* This CSS file override the default style of W2ui Grid */

.custom-grid.w2ui-grid {
    width: 100%;
    border: none;
}

/* Grid Lock */

.custom-grid .w2ui-lock {
    opacity: 0;
}

/* Header */

.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-columns,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-fcolumns {
    box-shadow: none;
}

.custom-grid.w2ui-grid .w2ui-grid-body table .w2ui-head {
    border-right: none;
    background-image: none;
}

/* Body */

.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even {
    background-color: white;
}

.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-odd:hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-record-hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-odd.w2ui-record-hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even:hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even.w2ui-record-hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even.w2ui-record-hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-selected:hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-selected:hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr td.w2ui-selected:hover,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr td.w2ui-selected:hover {
    background-color: rgba(23, 141, 141, 0.40) !important;
}

.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-selected,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-selected,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr td.w2ui-selected,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr td.w2ui-selected {
    background-color: rgba(23, 141, 141, 0.25) !important;
}

.custom-grid.w2ui-grid .w2ui-grid-body table tr.w2ui-even td.w2ui-grid-data,
.custom-grid.w2ui-grid .w2ui-grid-body table tr.w2ui-odd td.w2ui-grid-data {
    border-right: none;
    border-bottom: 1px solid #d6d5d7;
}

.custom-grid.w2ui-grid .w2ui-grid-body table td a {
    color: black
}

.custom-grid .w2ui-reset table tr th,
.custom-grid .w2ui-reset table tr td {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
}

/* Hiding Check Boxes */
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr td input.w2ui-grid-select-check {
    display: none;
}

/* Showing Check Boxes */
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-odd:hover td.w2ui-col-select input.w2ui-grid-select-check,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-odd.w2ui-record-hover td.w2ui-col-select input.w2ui-grid-select-check,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even:hover td.w2ui-col-select input.w2ui-grid-select-check,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even.w2ui-record-hover td.w2ui-col-select input.w2ui-grid-select-check,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-selected td.w2ui-col-select input.w2ui-grid-select-check,
.custom-grid.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr td.w2ui-selected input.w2ui-grid-select-check {
    display: inline-block;
}