﻿@model BaseProductViewModel

<div class="form-group">
    @Html.LabelFor(p => p.Name, "Product Name", new { @class = "details-text" })
    @Html.Label(null, Model.Name.ToDesignView(), new { @class = "details-link", id = "firstTab-name-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.UniqueCode, "Unique Code", new { @class = "details-text" })
    @Html.Label(null, Model.UniqueCode.ToDesignView())
</div>
<div class="form-group">
    @Html.LabelFor(p => p.ProductCode, "Product Code", new { @class = "details-text" })
    @Html.Label(null, Model.ProductCode.ToDesignView(), new { @class = "details-link", id = "firstTab-productCode-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.Description, new { @class = "details-text" })
    @Html.Label(null, Model.Description.ToDesignView(), new { @class = "details-link", id = "firstTab-description-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.Funder, new { @class = "details-text" })
    @Html.Label(null, Model.Funder.ToDesignView(), new { @class = "details-link", id = "firstTab-funder-label-select" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.Type, "Type", new { @class = "details-text" })
    @Html.Label(null, Model.Type.ToDesignView())
</div>
<div class="form-group">
    @Html.LabelFor(p => p.DocumentationType, "Documentation Type", new { @class = "details-text" })
    @Html.Label(null, Model.DocumentationType.ToDesignView(), new { @class = "details-link", id = "secondTab-documentationType-label-select" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.PrimaryLoanPurpose, "Primary Loan Purpose", new { @class = "details-text" })
    @Html.Label(null, Model.PrimaryLoanPurpose.ToDesignView(), new { @class = "details-link", id = "secondTab-primaryLoanPurpose-label-select" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.PrincipalInterestTerm, "Principal & Interest Term", new { @class = "details-text" })
    @Html.Label(null, Model.PrincipalInterestTerm.ToTermDesignView(), new { @class = "details-link", id = "secondTab-principalInterestTerm-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.InterestOnlyTerm, "Interest Only Term", new { @class = "details-text" })
    @Html.Label(null, Model.InterestOnlyTerm.ToTermDesignView(), new { @class = "details-link", id = "secondTab-interestOnlyTerm-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.PrepaidInterestTerm, "Prepaid Interest Term", new { @class = "details-text" })
    @Html.Label(null, Model.PrepaidInterestTerm.ToTermDesignView(), new { @class = "details-link", id = "secondTab-prepaidInterestTerm-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.InterestCapitalisedTerm, "Interest Capitalised Term", new { @class = "details-text" })
    @Html.Label(null, Model.InterestCapitalisedTerm.ToTermDesignView(), new { @class = "details-link", id = "secondTab-interestCapitalisedTerm-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.PrincipalInterestFeesTerm, "Principal & Interest Fees Term", new { @class = "details-text" })
    @Html.Label(null, Model.PrincipalInterestFeesTerm.ToTermDesignView(), new { @class = "details-link", id = "secondTab-principalInterestFeesTerm-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.VariableRateTerm, "Variable Rate Term", new { @class = "details-text" })
    @Html.Label(null, Model.VariableRateTerm.ToTermDesignView(), new { @class = "details-link", id = "secondTab-variableRateTerm-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.FixedRateTerm, "Fixed Rate Term", new { @class = "details-text" })
    @Html.Label(null, Model.FixedRateTerm.ToTermDesignView(), new { @class = "details-link", id = "secondTab-fixedRateTerm-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.LoanAmount, "Loan Amount", new { @class = "details-text" })
    @Html.Label(null, Model.LoanAmount.ToLoanAmountDesignView(), new { @class = "details-link", id = "secondTab-loanAmount-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.Lvr, "Lvr", new { @class = "details-text" })
    @Html.Label(null, Model.Lvr.ToLvrDesignView(), new { @class = "details-link", id = "secondTab-lvr-label" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.RepaymentMethods, "Repayment Methods", new { @class = "details-text" })
    @Html.Label(null, Model.RepaymentMethods.ToDesignView(), new { @class = "details-link", id = "thirdTab-repaymentMethods-label-select" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.RepaymentFrequency, "Repayment Frequency", new { @class = "details-text" })
    @Html.Label(null,Model.RepaymentFrequency.ToDesignView(), new { @class = "details-link", id = "thirdTab-repaymentFrequency-label-select" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.StatementCycle, "Statement Cycle", new { @class = "details-text" })
    @Html.Label(null, Model.StatementCycle.ToDesignView(), new { @class = "details-link", id = "thirdTab-statementCycle-label-select" })
</div>
<div class="form-group">
    @Html.LabelFor(p => p.SecurityPriority, "Security Priority", new { @class = "details-text" })
    @Html.Label(null, Model.SecurityPriority.ToDesignView(), new { @class = "details-link", id = "thirdTab-securityPriority-label-select" })

</div>

@*<div class="form-group">
        @Html.LabelFor(p => p.Name, "Product Name", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.Name) ? "-" : Model.Name, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Type, "Product Type", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.Type) ? "-" : Model.Type, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.UniqueCode, "Unique Code", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.UniqueCode) ? "-" : Model.UniqueCode, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ProductCode, "Product Code", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.ProductCode) ? "-" : Model.ProductCode, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.MinimumLoanAmount, "Minimum Loan Amount", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.MinimumLoanAmount) ? "-" : Model.MinimumLoanAmount, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.MaximumLoanAmount, "Maximum Loan Amount", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.MaximumLoanAmount) ? "-" : Model.MaximumLoanAmount, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.MinimumLvr, "Minimum LVR", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.MinimumLvr) ? "-" : Model.MinimumLvr, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.MaximumLvr, "Maximum LVR", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.MaximumLvr) ? "-" : Model.MaximumLvr, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.PaymentType, "Payment Type", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.PaymentType) ? "-" : Model.PaymentType, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.InterestType, "Interest Type", new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.InterestType) ? "-" : Model.InterestType, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.LoanTerms, "Loan Terms", new { @class = "details-text" })
        @Html.ActionLink("Edit", "Update", "Product", new { id = Model.Id, AdditionalData = "LoanTerms" }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.InterestOnlyTerms, "Interest Only Terms", new { @class = "details-text" })
        @Html.ActionLink("Edit", "Update", "Product", new { id = Model.Id, AdditionalData = "InterestOnlyTerms" }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Description, new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.Description) ? "-" : Model.Description, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Status, new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.Status) ? "-" : Model.Status, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Version, new { @class = "details-text" })
        @Html.ActionLink(String.IsNullOrEmpty(Model.Version) ? "-" : Model.Version, "Update", "Product", new { id = Model.Id }, new { @class = "details-link" })
    </div>*@