﻿<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-import-tab" data-toggle="tab" href="#nav-import" role="tab" aria-controls="nav-import" aria-selected="false">Import</a>
        <a class="nav-item nav-link" id="nav-export-tab" data-toggle="tab" href="#nav-export" role="tab" aria-controls="nav-export" aria-selected="false">Export</a>
        <a class="nav-item nav-link" id="nav-template-tab" data-toggle="tab" href="#nav-template" role="tab" aria-controls="nav-template" aria-selected="false">Template</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-import" role="tabpanel" aria-labelledby="nav-import-tab">
        @{await Html.RenderPartialAsync("~/Views/Shared/PartialViews/DataPartialViews/ImportDataPartial.cshtml");}
    </div>
    <div class="tab-pane fade" id="nav-export" role="tabpanel" aria-labelledby="nav-export-tab">
        @{await Html.RenderPartialAsync("~/Views/Shared/PartialViews/DataPartialViews/ExportDataPartial.cshtml");}
    </div>
    <div class="tab-pane fade" id="nav-template" role="tabpanel" aria-labelledby="nav-template-tab">
        @{await Html.RenderPartialAsync("~/Views/Shared/PartialViews/DataPartialViews/TemplateDataPartial.cshtml");}
    </div>
</div>

@section scripts{
    <script id="rowTemplatess" type="text/x-kendo-tmpl">
        <tr data-uid="#: uid #">
            <td class="details">
                <span class="#: id#">#: format#</span>
            </td>
        </tr>
    </script>
}