﻿<div class="form-group">
    <span class="modal-information-span">You can export your data in the following file types: Excel, Word, PDF, JSON, XML.</span>
</div>
<div class="form-group">
    <div id="exportFileTypeGrid" class="data-grid"></div>
</div>
<div class="form-group">
    <label class="checkbox-label">Export Option</label>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="export-compressed-option" name="export-checkbox">
        <label class="custom-control-label" for="export-compressed-option">Compressed ZIP archive</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="export-separated-option" name="export-checkbox" checked>
        <label class="custom-control-label" for="export-separated-option">Separated files</label>
    </div>
</div>