﻿<div class="form-group">
    <span class="modal-information-span">You can import your data from the following file types: Excel, JSON, XML.</span>
</div>
<div class="form-group">
    <label>Browse File *</label>
    <div class="input-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile">
            <label class="custom-file-label" for="inputGroupFile">Choose file</label>
        </div>
    </div>
</div>