﻿<div class="form-group">
    <div id="templateFileTypeGrid" class="data-grid"></div>
</div>
<div class="form-group">
    <label class="checkbox-label">Export Option</label>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="template-compressed-option" name="template-checkbox">
        <label class="custom-control-label" for="template-compressed-option">Compressed ZIP archive</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="template-separated-option" name="template-checkbox" checked>
        <label class="custom-control-label" for="template-separated-option">Separated files</label>
    </div>
</div>