﻿<div class="form-group">
    @Html.Label(null, "Status *")
    @Html.DropDownList("statusDropdown",
       Html.GetEnumSelectList<Enums.StatusEnum>(),
       "Select Status",
       new { @id = "statusDropdown", @class = "form-control" })
</div>