﻿@model CreateJavaScriptRuleViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, "Name *")
    @Html.TextBoxFor(model => model.Name, new { @id = "ruleName", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "red-text" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.RuleType, "Rule Type *")
    @Html.DropDownListFor(model => model.RuleType,
        Html.GetEnumSelectList<Enums.RuleTypeEnum>(),
        "Select Rule Type",
        new { @id = "ruleType", @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Rule, "Rule *")
    <div style="border: 1px solid #ced4da;">
        <textarea class="text-area" style="width: 40%; height:150px;"></textarea>
    </div>
</div>
<div class="form-group" style="padding-bottom: 20px;">
    @Html.LabelFor(model => model.Description, "Description")
    @Html.TextAreaFor(model => model.Description, new { @id = "descriptionBaseProduct", @rows = "3", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "red-text" })
</div>