﻿<div class="row">
    <div class="col-12">
        <select multiple id="splitsSelector">
            <optgroup label="Intervals">
                <option value="Lvr">Lvr</option>
                <option value="LoanAmount">Loan Amount</option>
            </optgroup>
            <optgroup label="Terms">
                <option value="InterestOnlyTerm">Interest Only Term</option>
                <option value="PrepaidInterestTerm">Prepaid Interest Term</option>
                <option value="FixedRateTerm">Fixed Rate Term</option>
            </optgroup>
            <optgroup label="Other">
                <option value="DocumentationType">Documentation Type</option>
                <option value="PrimaryLoanPurpose">Primary Loan Purpose</option>
            </optgroup>
        </select>
    </div>
</div>