﻿@model BaseProductUpdateRequest

<div class="form-group">
    @Html.LabelFor(model => model.DocumentationType, "Documentation Type *")
    @Html.ListBoxFor(model => model.DocumentationType,
        Html.GetEnumSelectList<Enums.DocumentationType>(),
        new { @id = "documentationType-select", @class = "form-multiselect", multiple = "multiple" })
    @Html.ValidationMessageFor(model => model.DocumentationType, "", new { @class = "red-text" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.PrimaryLoanPurpose, "Primary Loan Purpose *")
    @Html.DropDownListFor(model => model.PrimaryLoanPurpose,
       Html.GetEnumSelectList<Enums.PrimaryLoanPurpose>(),
       new { @id = "primaryLoanPurpose-select", @class = "form-multiselect", multiple = "multiple" })
    @Html.ValidationMessageFor(model => model.PrimaryLoanPurpose, "", new { @class = "red-text" })
</div>
<div class="form-row align-items-end">
    <div class="form-group col-8">
        @Html.LabelFor(model => model.PrincipalInterestTerm, "Principal & Interest Term")
        @Html.TextBox("principalInterestTerm-input", Model.PrincipalInterestTerm.ToTermDesignView(), new { @class = "form-control principalInterestTerm-input term-input", placeholder = "1,2,3,7 or 1-10" })
        @*@Html.ValidationMessageFor(model => model.PrincipalInterestTerm, "", new { @class = "red-text" })*@
    </div>
    <div class="form-group col-4">
        @Html.DropDownListFor(model => model.PrincipalInterestTerm.Frequency,
        Html.GetEnumSelectList<Enums.TermFrequencyEnum>(),
        new { @id = "principalInterestTerm-select", @class = "form-multiselect" })
    </div>
</div>
<div class="form-row align-items-end">
    <div class="form-group col-8">
        @Html.LabelFor(model => model.InterestOnlyTerm, "Interest Only Term")
        @Html.TextBox("interestOnlyTerm-input", Model.InterestOnlyTerm.ToTermDesignView(), new { @class = "form-control interestOnlyTerm-input term-input", placeholder = "1,2,3,7 or 1-10" })
    </div>
    <div class="form-group col-4">
        @Html.DropDownListFor(model => model.InterestOnlyTerm.Frequency,
        Html.GetEnumSelectList<Enums.TermFrequencyEnum>(),
        new { @id = "interestOnlyTerm-select", @class = "form-multiselect" })
    </div>
</div>
<div class="form-row align-items-end">
    <div class="form-group col-8">
        @Html.LabelFor(model => model.PrepaidInterestTerm, "Prepaid Interest Term")
        @Html.TextBox("prepaidInterestTerm-input", Model.PrepaidInterestTerm.ToTermDesignView(), new { @class = "form-control prepaidInterestTerm-input term-input", placeholder = "1,2,3,7 or 1-10" })

    </div>
    <div class="form-group col-4">
        @Html.DropDownListFor(model => model.PrepaidInterestTerm.Frequency,
        Html.GetEnumSelectList<Enums.TermFrequencyEnum>(),
        new { @id = "prepaidInterestTerm-select", @class = "form-multiselect" })
    </div>
</div>
<div class="form-row align-items-end">
    <div class="form-group col-8">
        @Html.LabelFor(model => model.InterestCapitalisedTerm, "Interest Capitalised Term")
        @Html.TextBox("interestCapitalisedTerm-input", Model.InterestCapitalisedTerm.ToTermDesignView(), new { @class = "form-control interestCapitalisedTerm-input term-input", placeholder = "1,2,3,7 or 1-10" })

    </div>
    <div class="form-group col-4">
        @Html.DropDownListFor(model => model.InterestCapitalisedTerm.Frequency,
        Html.GetEnumSelectList<Enums.TermFrequencyEnum>(),
        new { @id = "interestCapitalisedTerm-select", @class = "form-multiselect" })
    </div>
</div>
<div class="form-row align-items-end">
    <div class="form-group col-8">
        @Html.LabelFor(model => model.PrincipalInterestFeesTerm, "Principal & Interest Fees Term")
        @Html.TextBox("principalInterestFeesTerm-input", Model.PrincipalInterestFeesTerm.ToTermDesignView(), new { @class = "form-control principalInterestFeesTerm-input term-input", placeholder = "1,2,3,7 or 1-10" })

    </div>
    <div class="form-group col-4">
        @Html.DropDownListFor(model => model.PrincipalInterestFeesTerm.Frequency,
        Html.GetEnumSelectList<Enums.TermFrequencyEnum>(),
        new { @id = "principalInterestFeesTerm-select", @class = "form-multiselect" })
    </div>
</div>
<div class="form-row align-items-end">
    <div class="form-group col-8">
        @Html.LabelFor(model => model.VariableRateTerm, "Variable Rate Term")
        @Html.TextBox("variableRateTerm-input", Model.VariableRateTerm.ToTermDesignView(), new { @class = "form-control variableRateTerm-input term-input", placeholder = "1,2,3,7 or 1-10" })

    </div>
    <div class="form-group col-4">
        @Html.DropDownListFor(model => model.VariableRateTerm.Frequency,
        Html.GetEnumSelectList<Enums.TermFrequencyEnum>(),
        new { @id = "variableRateTerm-select", @class = "form-multiselect" })
    </div>
</div>
<div class="form-row align-items-end">
    <div class="form-group col-8">
        @Html.LabelFor(model => model.FixedRateTerm, "Fixed Rate Term")
        @Html.TextBox("fixedRateTerm-input", Model.FixedRateTerm.ToTermDesignView(), new { @class = "form-control fixedRateTerm-input term-input", placeholder = "1,2,3,7 or 1-10" })
    </div>
    <div class="form-group col-4">
        @Html.DropDownListFor(model => model.FixedRateTerm.Frequency,
        Html.GetEnumSelectList<Enums.TermFrequencyEnum>(),
        new { @id = "fixedRateTerm-select", @class = "form-multiselect" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.LoanAmount, "Loan Amount *")
    <div class="custom-input-container">
        @Html.TextBox("loanAmount-input", Model.LoanAmount.ToLoanAmountDesignView(true), new { @class = "form-control loanAmount-input", autocomplete = "off" })
        <i class="fas fa-ellipsis-h"></i>
    </div>
    @Html.ValidationMessageFor(model => model.LoanAmount, "", new { @class = "red-text" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Lvr, "Lvr *")
    <div class="custom-input-container">
        @Html.TextBox("lvr-input", Model.Lvr.ToLvrDesignView(true), new { @class = "form-control lvr-input", autocomplete = "off" })
        <i class="fas fa-ellipsis-h"></i>
    </div>
    @Html.ValidationMessageFor(model => model.Lvr, "", new { @class = "red-text" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BaseInterestRate, "Base Interest Rate *")
    @Html.TextBox("baseInterestRate-input", Model.BaseInterestRate.ToBaseInterestRateDesignView(), new { @class = "form-control baseInterestRate-input" })
    @Html.ValidationMessageFor(model => model.BaseInterestRate, "", new { @class = "red-text" })
</div>