﻿@model BaseProductUpdateRequest

<form id="first-form">
    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Name *")
        @Html.TextBoxFor(model => model.Name, new { @id = "name-input", @class = "form-control capitalized" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "red-text" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ProductCode, "Product Code *")
        @Html.TextBoxFor(model => model.ProductCode, new { @id = "productCode-input", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Funder, "Funder *")
        @Html.DropDownListFor(model => model.Funder,
            Html.GetEnumSelectList<Enums.FunderEnum>(),
            new { @id = "funder-select", @class = "form-multiselect" })
    </div>
    <div class="form-group" style="padding-bottom: 20px;">
        @Html.LabelFor(model => model.Description, "Description")
        @Html.TextAreaFor(model => model.Description, new { @id = "description-input", @rows = "3", @class = "form-control capitalized" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "red-text" })
    </div>
</form>