﻿@model IntervalUpdateRequest

<div class="intervals-container">
    @if (Model.Intervals != "")
    {
        var intervals = Model.Intervals.Split(", ");
        int index = 1;

        foreach (string interval in intervals)
        {
            var values = interval.Split(" - ");

            <div class="interval-container">
                <div class="row">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6">
                                @Html.Label("Min")
                            </div>
                            <div class="col-6">
                                @Html.Label("Max")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group interval-input-group">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6">
                                @if (index > 1)
                                {
                                    <input type="text" class="form-control intervalMin-input" value="@values[0]" disabled />
                                }
                                else
                                {
                                    <input type="text" class="form-control intervalMin-input" value="@values[0]" />
                                }
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control intervalMax-input" value="@values[1].Trim()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            index = index + 1;
        }
    }
</div>

<div class="row form-group justify-content-end">
    <div class="col-3">
        <button class="btn button fontAwesome-element addInterval-button">Add Interval</button>
    </div>
</div>
