﻿@model BaseProductUpdateRequest

<div class="form-group">
    @Html.LabelFor(model => model.RepaymentMethods, "Repayment Methods")
    @Html.ListBoxFor(model => model.RepaymentMethods,
        Html.GetEnumSelectList<Enums.RepaymentMethodsEnum>(),
        new { @id = "repaymentMethods-select", @class = "form-multiselect", multiple = "multiple" })
    @Html.ValidationMessageFor(model => model.RepaymentMethods, "", new { @class = "red-text" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.RepaymentFrequency, "Repayment Frequency *")
    @Html.ListBoxFor(model => model.RepaymentFrequency,
       Html.GetEnumSelectList<Enums.RepaymentFrequencyEnum>(),
       new { @id = "repaymentFrequency-select", @class = "form-multiselect", multiple = "multiple" })
    @Html.ValidationMessageFor(model => model.RepaymentFrequency, "", new { @class = "red-text" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.StatementCycle, "Statement Cycle *")
    @Html.ListBoxFor(model => model.StatementCycle,
       Html.GetEnumSelectList<Enums.StatementCycleEnum>(),
       new { @id = "statementCycle-select", @class = "form-multiselect", multiple = "multiple" })
    @Html.ValidationMessageFor(model => model.StatementCycle, "", new { @class = "red-text" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SecurityPriority, "Security Priority")
    @Html.ListBoxFor(model => model.SecurityPriority,
       Html.GetEnumSelectList<Enums.SecurityPriorityEnum>(),
       new { @id = "securityPriority-select", @class = "form-multiselect", multiple = "multiple" })
    @Html.ValidationMessageFor(model => model.SecurityPriority, "", new { @class = "red-text" })
</div>
<div class="form-group">
        @Html.LabelFor(model => model.NumberOfSplits, "Number Of Splits")
        @Html.TextBox("numberOfSplits-input", Model.NumberOfSplits, new { @class = "form-control numberOfSplits-input" })
        @Html.ValidationMessageFor(model => model.NumberOfSplits, "", new { @class = "red-text" })
    </div>
@*<div class="form-group">
        @Html.LabelFor(model => model.GenuineSavings, "Genuine Savings")
        @Html.TextBox("genuineSavings-input", Model.GenuineSavings.ToBaseInterestRateDesignView(), new { @class = "form-control genuineSavings-input" })
        @Html.ValidationMessageFor(model => model.GenuineSavings, "", new { @class = "red-text" })
    </div>*@