﻿<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-updateDetails-tab" data-toggle="tab" href="#nav-updateDetails" role="tab" aria-controls="nav-updateDetails" aria-selected="true">Details</a>
        <a class="nav-item nav-link" id="nav-advancedSettings-tab" data-toggle="tab" href="#nav-advancedSettings" role="tab" aria-controls="nav-advancedSettings" aria-selected="false">Advanced Settings</a>
        <a class="nav-item nav-link" id="nav-otherSettings-tab" data-toggle="tab" href="#nav-otherSettings" role="tab" aria-controls="nav-otherSettings" aria-selected="false">Other Settings</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-updateDetails" role="tabpanel" aria-labelledby="nav-updateDetails-tab">
        @{await Html.RenderPartialAsync("~/Views/BaseProduct/PartialViews/Update/DetailsPartial.cshtml");}
    </div>
    <div class="tab-pane fade" id="nav-advancedSettings" role="tabpanel" aria-labelledby="nav-advancedSettings-tab">
        @{await Html.RenderPartialAsync("~/Views/BaseProduct/PartialViews/Update/AdvancedSettingsPartial.cshtml");}
    </div>
    <div class="tab-pane fade" id="nav-otherSettings" role="tabpanel" aria-labelledby="nav-otherSettings-tab">
        @{await Html.RenderPartialAsync("~/Views/BaseProduct/PartialViews/Update/OtherSettingsPartia.cshtml");}
    </div>
</div>