﻿@{
    ViewBag.Title = "Available Base Products";
}

@section styles
    {
    <link href="~/node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/css/myModal.css" rel="stylesheet" />
    <link href="~/css/dataModal.css" rel="stylesheet" />
    <link href="~/css/w2ui-override.css" rel="stylesheet" />
    <style>
        #base-products-w2ui {
            background-color: #D5D9E0;
            border-left: 5px solid #178D8D !important;
        }

            #base-products-w2ui > .position-anchors-s-menu {
                padding-left: 0.5rem;
            }
    </style>
}
<div class="container-fluid page-container-header">
    <!-- ko template: { name: 'PageHeader-template', afterRender: AfterRenderCallback } -->
    <!-- /ko-->
</div>
<div class="container-fluid page-container-content">
    <div class="row nav-row">
        <div class="col-12">
            <h4>Base Products</h4>
        </div>
    </div>

    <div id="grid" class="custom-grid" style="width: 100%; height: 750px;"></div>
</div>

@section modals{
    <div class="plugin-container">
    </div>
}

@section scripts{
    <script>
        require(["js/BaseProduct/baseProducts"], function () {

        });
    </script>
    <script>
         var statusEnums = @Html.Raw(Json.Serialize(Enum.GetNames(typeof(Enums.StatusEnum))));
    </script>
    <script id="type-template" type="text/x-kendo-template">
        <strong>#: type #</strong>
    </script>
}
