﻿@model BaseProductViewModel
@{
    ViewBag.Title = "Base Product Details";
}
@section styles{
    <link href="~/node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/css/details.css" rel="stylesheet" />
    <link href="~/css/myModal.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/responsiveness.css" />
    <link rel="stylesheet" href="~/node_modules/codemirror/addon/hint/show-hint.css" />
    <link href="~/css/w2ui-override.css" rel="stylesheet" />

    <style>
        #base-products {
            background-color: #D5D9E0;
            border-left: 5px solid #178D8D !important;
        }

            #base-products > .position-anchors-s-menu {
                padding-left: 0.5rem;
            }

        .CodeMirror {
            width: 100%;
        }
    </style>
}

<div class="container-fluid page-container-header">
    <!-- ko template: { name: 'PageHeader-template', afterRender: AfterRenderCallback } -->
    <!-- /ko-->
</div>
<div class="container-fluid page-container-content">
    <div class="row nav-row">
        <div class="col-12">
            <h4 class="bread-crumb">Products <i class="fas fa-angle-right"></i> <span id="productName">@Model.Name</span><span id="statusBreadCrumb">(Inactive)</span></h4>
        </div>
    </div>
    <div class="row nav-row">
        <div class="col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link main-nav" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="false">Details</a>
                    <a class="nav-item nav-link main-nav" id="nav-features-tab" data-toggle="tab" href="#nav-features" role="tab" aria-controls="nav-features" aria-selected="false">Features</a>
                    <a class="nav-item nav-link main-nav" id="nav-loanPurposes-tab" data-toggle="tab" href="#nav-loanPurposes" role="tab" aria-controls="nav-loanPurposes" aria-selected="false">Loan Purposes</a>
                    <a class="nav-item nav-link main-nav" id="nav-splits-tab" data-toggle="tab" href="#nav-splits" role="tab" aria-controls="nav-splits" aria-selected="false">Splits</a>
                    <a class="nav-item nav-link main-nav" id="nav-rules-tab" data-toggle="tab" href="#nav-rules" role="tab" aria-controls="nav-rules" aria-selected="false">Rules</a>
                    <a class="nav-item nav-link main-nav" id="nav-filtered-tab" data-toggle="tab" href="#nav-filtered" role="tab" aria-controls="nav-filtered" aria-selected="false">Filtered</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row nav-content-row">
        <div class="col-12">
            <div class="tab-content" id="nav-tabContent" style="width:100%">
                <div class="tab-pane fade" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                    @{await Html.RenderPartialAsync("~/Views/BaseProduct/PartialViews/Details/Tabs/DetailsPartial.cshtml");}
                </div>
                <div class="tab-pane fade" id="nav-features" role="tabpanel" aria-labelledby="nav-features-tab">
                    @{await Html.RenderPartialAsync("~/Views/BaseProduct/PartialViews/Details/Tabs/FeaturesPartial.cshtml");}
                </div>
                <div class="tab-pane fade" id="nav-loanPurposes" role="tabpanel" aria-labelledby="nav-loanPurposes-tab">
                    @{await Html.RenderPartialAsync("~/Views/BaseProduct/PartialViews/Details/Tabs/LoanPurposesPartial.cshtml");}
                </div>
                <div class="tab-pane fade" id="nav-splits" role="tabpanel" aria-labelledby="nav-splits-tab">
                    @{await Html.RenderPartialAsync("~/Views/BaseProduct/PartialViews/Details/Tabs/SplitsPartial.cshtml");}
                </div>
                <div class="tab-pane fade" id="nav-rules" role="tabpanel" aria-labelledby="nav-rules-tab">
                    @{await Html.RenderPartialAsync("~/Views/BaseProduct/PartialViews/Details/Tabs/RulesPartial.cshtml");}
                </div>
                <div class="tab-pane fade" id="nav-filtered" role="tabpanel" aria-labelledby="nav-filtered-tab">
                    @{await Html.RenderPartialAsync("~/Views/BaseProduct/PartialViews/Details/Tabs/FilteredPartial.cshtml");}
                </div>
            </div>
        </div>
    </div>
</div>

@section modals{
    <div class="plugin-container"></div>
}

@section scripts{
    <script>
        var pathToModel = '@Url.Action("Details","BaseProduct", new { id=Model.Id})';
        var Product = {};
        var BaseProduct = @Html.Raw(Json.Serialize(Model));
        var BaseProductSplitsData = {};
    </script>
    <script>
        require(["js/BaseProduct/Details/details"], function () {

        });
    </script>

    <script id="template" type="text/x-kendo-template">
        <span class="#: isNotAvailable ? 'k-state-disabled': ''#">
            #: Name #
        </span>
    </script>
}
